body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: Arial;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#1a1a1a, #000);
}

#road {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#player {
  width: 50px;
  height: 70px;
  background: yellow;
  position: absolute;
  bottom: 100px;
  left: 45%;
  border-radius: 10px;
  animation: runAnim 0.3s infinite alternate;
}

@keyframes runAnim {
  from { transform: translateY(0px); }
  to { transform: translateY(-5px); }
}

.obstacle {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -60px;
  border-radius: 10px;
}

.tree { background: green; }
.rock { background: brown; }
.fire { background: red; }

#scoreBoard {
  color: white;
  padding: 10px;
  font-size: 20px;
}

#controls {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

button {
  padding: 15px;
  font-size: 18px;
  margin: 5px;
  border: none;
  border-radius: 10px;
}

#gameOver {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: none;
  text-align: center;
}
